#question-answer-container {
    display: none;
}

#container1 {
    display: block;
}

#input-container {
    display: none;
}

.time {
    display: block;
}

#highscores-container {
    display: none;
}
