body {
font-size: 16px;
font-weight: 500;
font-family: 'Montserrat', sans-serif2020;
background-color: lightskyblue;
color: #fffaf7;
}



#container-page1 {
    display: block;
    margin-top: 300px;
}

.time {
    display: block;
    font-size: 30px;
    color: black; 
}

#question-answer-container {
    display: none;
}

#result-comment {
    display: block;
}

#input-container {
    display: none;
}


#highscores-container {
    display: none;
}
#timer-container{
    text-align: right;
    position: relative;
    top: 70px;
}